.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c; /* Temno siva/črna barva za navigacijo */
    color: white;
    padding: 15px 30px;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 40px;
    font-size: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #e30613; /* Rdeča barva ob hoverju */
    border-radius: 5px;
  }
  .logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
