* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif; /* Športna pisava */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Zagotovi celotno višino okna */
  background-image: url('https://www.soccerbible.com/media/149895/ready-5-min.jpg'); /* Slika ozadja */
  background-size: cover; /* Slika prekriva celotno stran */
  background-position: center; /* Center slike */
  background-repeat: no-repeat;
  width: 100%; /* Celotna širina zaslona */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
